body {
  background-color: #eceff3;
}

#home {
  .sidebar {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    left: 0;
    padding: 1.25rem 0;
    background-color: #2d435a;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;

    .nav-pills {
      .nav-link {
        display: block;
        padding: 1em 0;
        color: #fff;
        text-align: center;
        border-radius: 0;

        &.active {
          color: #47494e;
          background-color: #eceff3;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #main {
    padding-top: 1em;

    .mcm-home {
      .mcm-home-block {
        margin-bottom: 4em;

        h2 {
          font-size: 1.3em;
          margin: 1em 0;
        }
      }
    }
  }
}
