.home-recruit {
  @import "../layouts/recruit_card";

  .card-body {
    .home-recruit-edit-cover {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .5);
      opacity: 0;
      @include transition(opacity .2s ease-in);

      &:hover {
        opacity: 1;
      }

      button {
        position: absolute;
        top: 50%;
        margin-top: -32px;
        margin-left: -32px;
        width: 64px;
        height: 64px;
        color: #fff;
        background: rgba(0, 0, 0, .5);
        border-radius: 100%;
        border: 2px solid #fff;
      }

      .home-recruit-btn-edit {
        left: 30%;
      }

      .home-recruit-btn-delete {
        left: 70%;
      }
    }
  }
}