body {
  background-color: #eceff3;
  font-family: "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", sans-serif;
  padding-top: 3.5rem;
}

.jumbotron {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  background: url(../../images/banner.jpg) center center no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  text-align: center;

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 14px;
  }
}
