.mcm-match {
  .panel {
    padding: 18px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 0;

    .panel-heading {
      padding: 0;
      background-color: initial;
      border-bottom: none;

      .panel-title {
        height: 24px;
        line-height: 24px;
        overflow: hidden;
      }
    }

    .panel-body {
      padding: 4px 0 0;

      .expires-at {
        font-size: 12px;

        span {
          display: inline-block;
        }

      }

      .btn {
        border-radius: 0;
      }
    }
  }

  .modal {
    .modal-content {
      border: none;
      border-radius: 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    }

    .modal-body {
      form {
        margin-bottom: -10px;
      }

      textarea.form-control {
        resize: vertical;
      }

      textarea.form-control,
      input[type="text"].form-control,
      button.btn {
        border-radius: 0;
      }

      button.btn[type="submit"] {
        background-color: #2e8de6;
        color: #fff;

        &:hover {
          background-color: #2675bf;
        }
      }
    }
  }
}
