.mcm-match {
  .card {
    margin-bottom: 1.25em;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);

    .card-body {
      padding: 1.4em 1.15em 1.15em;

      .card-title {
        height: 1em;
        font-size: 1.1em;
        line-height: 1;
        overflow: hidden;
      }

      .expires-at {
        font-size: .8em;
        margin-bottom: .8em;

        span {
          display: inline-block;
        }
      }

      .team-count {
        display: inline-block;
        margin-left: .5em;
        font-size: .8em;

        span {
          display: inline-block;
        }
      }
    }
  }

  .modal {
    .modal-content {
      border: none;
      border-radius: 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    }

    .modal-body {
      form {
        margin-bottom: -10px;
      }

      textarea.form-control {
        resize: vertical;
      }

      textarea.form-control,
      input[type="text"].form-control,
      button.btn {
        border-radius: 0;
      }

      button.btn[type="submit"] {
        background-color: #2e8de6;
        color: #fff;

        &:hover {
          background-color: #2675bf;
        }
      }
    }
  }
}
