.mcm-match {
  .panel {
    padding: 18px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 0;

    .panel-heading {
      padding: 0;
      background-color: initial;
      border-bottom: none;

      .panel-title {
        height: 24px;
        line-height: 24px;
        overflow: hidden;
      }
    }

    .panel-body {
      padding: 4px 0 0;

      .expires-at {
        font-size: 12px;

        span {
          display: inline-block;
        }

      }

      .btn {
        border-radius: 0;
      }
    }
  }
}

//.panel-default > p {
//    font-size: 12px;
//}
//
//.available {
//    border: none;
//    background-color: #2E8DE6;
//    color: #fff;
//}
//
//.available:hover {
//    background-color: #2675BF;
//    color: #fff;
//}
//
//.modal-header {
//    padding: 28px 28px 18px 28px;
//}
//
//.form-horizontal .form-group h5 {
//    margin: 0;
//    font-weight: bold;
//}
//
//.form-horizontal .form-group label,
//.form-horizontal .form-group span {
//    font-weight: normal;
//    height: 34px;
//    line-height: 34px;
//}
//
//.form-horizontal .form-group button {
//    margin-top: 16px;
//}
//
//.form-horizontal .control-label {
//    padding: 0;
//    text-align: left;
//}
//
//#comfirm {
//    border: none;
//    background-color: #2E8DE6;
//    color: #fff;
//}
//
//#comfirm:hover {
//    background-color: #2675BF;
//    color: #fff;
//}