.mcm-post {
  padding-top: 2em;
  padding-bottom: 1.25em;

  .card {
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);

    .card-body {
      padding: 0;

      .card-title {
        margin-bottom: 0;
        padding: 1.75em 1.5em 1.75em 3.25em;
        background-color: #fff;
        border-bottom: 1px dashed #e9eef5;
        font-size: 1em;
        color: #336ea7;

        &::before {
          content: "";
          position: absolute;
          display: block;
          left: 1.5em;
          width: 25px;
          height: 21px;
          background-image: url(../../../assets/images/announcement.png);
        }
      }

      .list-group {
        .list-group-item {
          border: none;

          &:nth-of-type(odd) {
            background-color: #fafcfd;
          }

          &:hover {
            background-color: #eceff3 !important;
          }

          .title h3 {
            font-size: 1em;
            font-weight: normal;
          }

          .date {
            color: #7e838b;
            font-size: .9em;
          }
        }
      }

      .pagination {
        padding: 2.25em 0;
      }
    }
  }

  .modal {
    .modal-header {
      padding: 1.75em 1.75em 1em;

      h5 {
        margin-bottom: 0;
      }

      .post-date {
        color: #7e838b;
        font-size: .8em;
      }
    }

    .modal-body {
      padding: 1.5em 1.75em;

      .post-content {
        table {
          max-width: 100%;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}
