body {
  padding-top: 3.5rem;
  font-family: "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", sans-serif;
}

.navbar-light {
  color: #2c312f;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
  overflow: hidden;

  .navbar-collapse.collapsing {
    overflow: initial;
  }

  .navbar-nav .nav-item {
    position: relative;

    &.active .nav-link {
      &::after,
      &:hover::after {
        content: "";
        display: block;
        position: absolute;
        left: -1rem;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: #8ca4ba;
      }

      @media (min-width: 768px) {
        &::after,
        &:hover::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: initial;
          bottom: -0.5rem;
          width: initial;
          height: 4px;
          background-color: #8ca4ba;
        }
      }
    }
  }
}

.pagination {
  flex-wrap: wrap;

  .page-item {
    margin: 0 .35em .7em;
  }
}

.card,
.modal-dialog {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.mcm-team-info-table {
  font-size: .9em;

  &.mcm-team-info-table-full-info .table {
    min-width: 768px;;
  }

  th {
    border-top: none;
    border-bottom: 1px solid #e9eef5;
    padding: .7em 0;
  }

  td {
    border: none;
    padding: .7em 0;
  }
}