$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$link-color: #47494e;
$modal-backdrop-bg: #566;

@import "~bootstrap/scss/bootstrap";
@import "layouts/common";
@import "index/common";
@import "index/post";
@import "index/match";
@import "index/recruit";
